<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--You do not need to change these values.-->
    <add key="AadInstance" value="https://login.microsoftonline.com/" />
    <add key="TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    
    <!--Please provide the following values based on the CPM evironment you want to call. The values provided are those of CPM INT-->
    <add key="BaseUrl" value="https://api.cpm.account.microsoft-int.com" />
    <add key="ClientId" value="fill-in-your-own-value" />                   <!--Onboarded app client ID for the respective environment-->
    <add key="Thumbprint" value="fill-in-your-own-value" />               <!--Secret corresponding to the client ID above-->
    <add key="AppResourceId" value="fdef6b70-6909-420c-81e7-18fb900860e8" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>